@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lora&family=PT+Sans&family=Poppins:wght@100;200;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url('./imagess/Web_Photo_Editor.jpg');
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    color: black;
    font-size: 60px;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header .nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
    position: relative;
}

header .nav a:not(:last-child) {
    margin-right: 30px;
}

header .nav a:hover {
    background: rgb(0, 0, 0);
}

.content {
    max-width: 650px;
    margin: 60px 100px;
}

.content .info h2 {
    color: rgb(218, 218, 218);
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .btn1 {
    padding: 10px 30px;
    background: black;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-color: whitesmoke;
    border-radius: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s;
    transition-property: background;
    position: relative;
    bottom: 10px;
}

.content .btn2 {
    padding: 10px 30px;
    background: black;
    color: orangered;
    font-size: 20px;
    border-color: whitesmoke;
    border-radius: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s;
    transition-property: background;
    position: relative;
    bottom: 10px;
    margin: 0px 20px;
    transition: 0.3s;
    transition-property: background;
}

.content .btn1:hover {
    color: #b3b3b3;
}

.content .btn2:hover {
    color: #ffff;
    transform: scale(1.5);
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.socials a {
    position: relative;
    color: #000000;
    font-size: 35px;
    text-decoration: none;
    transition: 0.3s;
    transition-property: background;
}

.socials a:not(:last-child) {
    margin-right: 60px;
}

.socials a:hover {
    color: #fff;
}

label {
    display: flex;

}

#check {
    z-index: 3;
    display: none;
}

/*RESPONSIVE*/
@media (max-width: 4553px) {
    label {
        display: none;
    }
}

@media (max-width: 3840px) {
    label {
        display: none;
    }
}

@media (max-width: 1440px) {
    label {
        display: none;
    }
}

@media (max-width: 960px) {
    header .nav {
        display: none;
    }

    label {
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }

    label:hover {
        color: #fff;
    }

    label .close-btn {
        display: none;

    }

    #check:checked~header .nav {
        z-index: 2;
        position: fixed;
        background: rgb(156, 155, 155);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked~header .nav a {
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

    #check:checked~header label .menu-btn {
        display: none;
    }

    #check:checked~header label .close-btn {
        display: block;
        z-index: 2;
        position: fixed;
    }

    label .menu-btn {
        position: absolute;
    }

    header .logo {
        position: absolute;
        bottom: -16px;
    }

    .content .info h2 {
        font-size: 45px;
        line-height: 50px;
    }

    .content .info h2 span {
        font-size: 40px;
        font-weight: 600;
    }

    .content .info p {
        font-size: 14px;
    }
}

@media (max-width: 645px) {
    header .logo {
        position: relative;
        bottom: -5px;
    }
}

@media (max-width: 560px) {
    .content .info h2 {
        font-size: 35px;
        line-height: 40px;
    }

    .content .info h2 span {
        font-size: 30px;
        font-weight: 600;
    }

    .content .info p {
        font-size: 14px;
    }
}

@media (max-width: 428px) {
    header .logo {
        font-size: 35px;
        position: relative;
        bottom: -11px;
        left: -2px;
    }

    .content .info h2 {
        font-size: 25px;
        line-height: 30px;
        position: relative;
        bottom: 1px;
        left: 5px;
    }

    .content .info h2 span {
        font-size: 23px;
        font-weight: 600;
    }

    .content .info p {
        font-size: 13px;
        position: relative;
        bottom: 15px;
    }

    .content .info .btn1 {
        margin: 10px 20px;
        position: relative;
        bottom: 32px;
    }

    .content .info .btn2 {
        position: relative;
        bottom: 10px;
    }

    .socials a {
        font-size: 25px;
    }
}

@media (max-width: 412px) {
    header .logo {
        font-size: 35px;
        position: relative;
        bottom: -11px;
        left: -2px;
    }

    .content .info h2 {
        font-size: 25px;
        line-height: 30px;
        position: relative;
        bottom: 1px;
        left: 5px;
    }

    .content .info h2 span {
        font-size: 23px;
        font-weight: 600;
    }

    .content .info p {
        font-size: 13px;
        position: relative;
        bottom: 15px;
    }

    .content .info .btn1 {
        margin: 10px 20px;
        white-space: nowrap;
    }

    .content .info .btn2 {
        position: relative;
        bottom: 10px;
    }

    .socials a {
        font-size: 25px;
    }
}